.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 92px 50px 88px;
}

.header__logo {
  height: 105px;
  width: 148px;
}

.header__logo-image {
  height: 100%;
}

.header__menu {
  display: flex;
  gap: 15px;
  font-size: 18px;
  min-width: 342px;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
  border-bottom: none;
}

.address {
  font-style: normal;
  font-size: 18px;
  align-self: flex-end;
  max-width: 237px;
  justify-self: flex-end;
  line-height: 1.35;
}

.addres__linl {
  text-decoration: none;
  border-bottom: 2px solid black;
}

.cover {
  position: relative;
  min-height: 757px;
  width: 1100px;
  padding: 165px 50px 51px 50px;
  background-image: url(../img/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 179px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0.6;
}

.cover__title {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #fff;
  text-transform: uppercase;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: 0.3em;
  margin-bottom: 135px;
  gap: 20px;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  display: block;
  text-align: center;
  line-height: 1;
}

.aligned-text_right {
  display: block;
  text-align: right;
  line-height: 1;
}
.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0em;
}

.cover__description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 79px;
  position: absolute;
  z-index: 1;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  word-spacing: 18px;
  text-transform: uppercase;
  padding-left: 30px;
}

.bet-button {
  width: 256px;
  height: 51px;
  padding: 10px 5px 10px 5px;
  border: 1px solid white;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
}

.lots {
  max-width: 1052px;
  padding: 0 24px 0 24px;
}

.lots__heading {
  text-align: left;
  font-size: 40px;
  padding: 0 0 0 40px;
  font-weight: bold;
  margin-bottom: 27px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  list-style: none;
  margin-bottom: 34px;
}

.lots__card-list-item {
  position: relative;
  display: flex;
  flex-direction: column;
}

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.card {
  position: relative;
  color: white;
  padding: 51px 40px 40px;
  height: 563px;
  width: 334px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px;
}

.card__title,
.card__text {
  position: relative;
  z-index: 2;
}

.card__title {
  font-size: 22px;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 10px;
  max-width: 254px;
}

.card__text {
  font-size: 20px;
  line-height: 1.2;
}

.card_type_film {
  background-image: url(../img/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card_type_book {
  background-image: url(../img/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card_type_picture {
  background-image: url(../img/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.lots__look-more-link {
  text-align: left;
  margin-top: 20px;
  font-size: 1.2em;
  text-decoration: none;
  padding-left: 43px;
}

.lots__look-more-link {
  text-decoration: underline;
  margin-bottom: 146px;
}

.about {
  display: grid;
  grid-template-columns: 300px 1fr;
  column-gap: 10px;
  align-items: center;
  max-width: 1200px;
  padding-left: 74px;
  margin-bottom: 25px;
}

.about__column {
  display: flex;
  justify-self: start;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  object-fit: contain;
}

.about__title {
  font-size: 40px;
  margin-bottom: 20px;
  font-style: bold;
  margin-bottom: 100px;
  display: flex;
  padding-top: 283px;
}

.about__text {
  min-width: 693px;
  height: 449px;
  font-size: 20px;
  display: block;
}
.about__column_left {
  padding-bottom: 288px;
}
.about__column_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #fff;
}

.footer__menu-link_active {
  text-transform: none;
}

.footer__address {
  font-style: normal;
  font-size: 18px;
  align-self: flex-end;
  max-width: 237px;
  justify-self: flex-end;
  line-height: 1.35;
  margin-right: 95px;
}

.footer__address a {
  align-items: start;
  font-style: normal;
  text-transform: underline;
  font-size: 18px;
  white-space: nowrap;
  text-align: right;
}

.footer__menu {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  line-height: 0.8;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-list-item {
  margin-bottom: 10px;
}

.footer__menu-link {
  color: #000;
}

.footer__menu-link_active {
  text-decoration: underline;
}

.footer__social-list {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 32px;
}

.footer__social-list-item {
  margin-left: 20px;
}

.footer__social-link {
  display: block;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
